
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.margin-top-10 {
    margin-top: 10px;
}

.avatar {
    margin-right: 10px;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 1;
 }

.boton-follow {
	background-color: #fff;
	border: 1px solid #1da1f2;
    color: #1DA1F2;
    font-size: 12px;
	padding: 4px 12px;
	border-radius: 100px;
	box-shadow: none;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	line-height: 16px;
}

.boton-following {
    background-color: #1da1f2;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 100px;
    box-shadow: none;
    cursor: default;
    font-weight: bold;
    position: relative;
    line-height: 16px;
}
