<template>
    <div class="card margin-top-10">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <img class="avatar" :src="account.profile_image_url" alt="">
                    <strong>{{ account.name }}</strong> @{{ account.screen_name }}
                </div>
                <div class="col-md-3">
                    <button v-if="account.following" class="boton-following">Following</button>
                    <button v-else class="boton-follow"
                        v-on:click="onclickFollow()">Follow</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['account'],
        data() {
            return {
                editMode: false
            };
        },
        methods: {
            onclickFollow() {
                const params = {
                    names: [this.account.screen_name]
                };
                axios.post('twitter/follow', params).then(() => {
                    this.$emit('follow');
                });
            }
        }
    }
</script>
