<template>
    <div class="card">
    <div class="card-header">Search</div>
    <div class="card-body">
        <form action="" v-on:submit.prevent="getFriends()">
            <div class="form-group">
                <label for="accounts">Accounts:</label>
                <input-tag  name="accounts" placeholder="Write an account and press enter"
                    data-role="tagsinput" v-model="accounts"></input-tag> 
            </div>
            <button type="submit" class="btn btn-primary" :disabled="accounts.length<2">Enviar</button>
        </form>
    </div>
    </div>
</template>

<script>
    export default {
        data() {
            return { 
                accounts: []
            }
        },
        methods: {
            getFriends() {
                axios.get('/twitter/friends/mix?accounts=' + this.accounts).then((response) => {
                    const accounts = response.data;
                    this.$emit('new', accounts);
                })
            }
        }
    }
</script>
