<template>
    <div class="card">
        <div class="card-header">Follow common friends</div>
        <div class="card-body">
            <accounts-form-component @new="addAccounts"></accounts-form-component>
            <account-component 
                v-for="(account, index) in friends" 
                :key="account.id"
                :account="account"
                @follow="follow(index)">
            </account-component>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                friends: []
            }
        },
        mounted() {
        },
        methods: {
            addAccounts(friends) {
                this.friends = friends;
            },
            follow(index) {
                this.friends[index]['following'] = true;
            }
        }
    }
</script>