<template>
  <div class="container">
    <div class="card">
        <div class="card-header"><strong>Summary:</strong> Accounts followed by serch</div>
        <div class="card-body">
    		<chart-component/>
        </div>
    </div>
    <div class="card margin-top-10">
        <div class="card-header">Searches</div>
        <div class="card-body">
	        <table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Date</th>
			      <th scope="col">Accounts</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr v-for="(search, index) in searches" >
			      <td>{{ search.created_at }}</td>
			      <td>{{ search.names }}</td>
			    </tr>
			  </tbody>
			</table>
        </div>
    </div>
    <div class="card margin-top-10">
        <div class="card-header">Followed accounts</div>
        <div class="card-body">
	        <table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Date</th>
			      <th scope="col">Accounts</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr v-for="(follow, index) in follows" >
			      <td>{{ follow.created_at }}</td>
			      <td>{{ follow.screen_name }}</td>
			    </tr>
			  </tbody>
			</table>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      searches: [],
      follows: []
    }
  },
  mounted () {
    axios.get('/history/searches').then((response) => {
    	this.searches = response.data;
    }),
    axios.get('/history/follows').then((response) => {
    	this.follows = response.data;
    });
  }
}
</script>
